/*
.separator {
  margin-top: 40px;
} */
/* 3D Cube */
.space3d {
  padding-top: 150px;
  perspective: 1000px;
  width: 350px;
  height: 350px;
  text-align: center;
  display: inline-block;
}

._3dbox {
  display: inline-block;
  transition: all 0.85s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);

}

._3dface {
  overflow: hidden;
  position: absolute;
  line-height: 350px;
  opacity: 1;
    border: 7px solid black;
}

._3dface--front {
  width: 350px;
  height: 350px;
  transform: translate3d(0, 0, 175px);
}

._3dface--top {
  width: 350px;
  height: 350px;
  transform: rotateX(90deg) translate3d(0, 0, 175px);
}

._3dface--bottom {
  width: 350px;
  height: 350px;
  transform: rotateX(-90deg) translate3d(0, 0, 175px);
}

._3dface--left {
  width: 350px;
  height: 350px;
  left: 50%;
  margin-left: -175px;
  transform: rotateY(-90deg) translate3d(0, 0, 175px);
}

._3dface--right {
  width: 350px;
  height: 350px;
  left: 50%;
  margin-left: -175px;
  transform: rotateY(90deg) translate3d(0, 0, 175px);
}

._3dface--back {
  width: 350px;
  height: 350px;
  transform: rotateY(180deg) translate3d(0, 0, 175px);
}

input {
  display: none;
}

label {
  padding: 20px 20px 20px 40px;
  color: white;
  left: 15px;
  cursor: pointer;
  position: relative;
}

label::before,
label::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  top: 30%;
}

label::before {
  background-color: none;
  border: 7px solid black;
  height: 30px;
  width: 30px;
  right: 22px;
}

label::after {
  background-color: blue;
  opacity: 0;
  height: 35px;
  width: 35px;
  left: 9px;
  z-index: -2;
  animation-name: animation1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

input:checked+label::after {
  opacity: 1;
}

@keyframes animation1 {
   from {background-color:blue;}
   to {background-color:yellow;}
}

#radio-front:checked~.space3d ._3dbox {}

#radio-left:checked~.space3d ._3dbox {
  transform: rotateY(90deg);
}

#radio-right:checked~.space3d ._3dbox {
  transform: rotateY(-90deg);
}

#radio-bottom:checked~.space3d ._3dbox {
  transform: rotateX(90deg);
}

#radio-top:checked~.space3d ._3dbox {
  transform: rotateX(-90deg);
}

#radio-back:checked~.space3d ._3dbox {
  transform: rotateY(180deg);
}

._3dface--front {
  background: blue;
  background-size: 100%;
}

._3dface--left {
  background: blue;
  background-size: auto 100%;
}

._3dface--right {
  background: blue;
  background-size: auto 100%;
}

._3dface--top {
  background: blue;
  background-size: auto 100%;
}

._3dface--bottom {
  background: blue;
  background-size: auto 100%;
}

._3dface--back {
  background: blue;
  background-size: auto 100%;
}
