
.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  /* position: relative; */
  background-image: url('images/bedge-grunge20.png');
  background: radial-gradient(circle at 50% 40%, rgba(50,50,50,0.4), rgba(20,20,20,0.7) 66%, rgba(0,0,0,1) 100%);
}


.ball .shadow {
position: absolute;
top:0px;
left:0px;
width: 100%;
height: 100%;
background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
-webkit-transform: rotateX(90deg) translateZ(-250px);
-moz-transform: rotateX(90deg) translateZ(-250px);
-ms-transform: rotateX(90deg) translateZ(-25px);
-o-transform: rotateX(90deg) translateZ(-250px);
transform: rotateX(90deg) translateZ(-250px);
}

.stage {
  /* size of sphere */
  position:absolute;
  top: 45%;
  left: 49%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  width: 400px;
  height: 400px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

body {
  background: linear-gradient(to bottom, rgba(52, 52, 52, 0.2) 0%, rgba(100, 100, 100, 0.5) 60%, #343434 100%);
}
/*
.separator {
  margin-top: 40px;
} */

/* .radio-buttons {
  top:0px;
  left:0;
  right:0;
  margin:auto;
} */


/* 3D Cube */
/* .space3d {
  padding-top: 150px;
  perspective: 1000px;
  width: 350px;
  height: 350px;
  text-align: center;
  display: inline-block;
}

._3dbox {
  display: inline-block;
  transition: all 0.85s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);

}

._3dface {
  overflow: hidden;
  position: absolute;
  line-height: 350px;
  opacity: 1;
    border: 7px solid #e0dedb;
}

._3dface--front {
  width: 350px;
  height: 350px;
  transform: translate3d(0, 0, 175px);
}

._3dface--top {
  width: 350px;
  height: 350px;
  transform: rotateX(90deg) translate3d(0, 0, 175px);
}

._3dface--bottom {
  width: 350px;
  height: 350px;
  transform: rotateX(-90deg) translate3d(0, 0, 175px);
}

._3dface--left {
  width: 350px;
  height: 350px;
  left: 50%;
  margin-left: -175px;
  transform: rotateY(-90deg) translate3d(0, 0, 175px);
}

._3dface--right {
  width: 350px;
  height: 350px;
  left: 50%;
  margin-left: -175px;
  transform: rotateY(90deg) translate3d(0, 0, 175px);
}

._3dface--back {
  width: 350px;
  height: 350px;
  transform: rotateY(180deg) translate3d(0, 0, 175px);
}

input {
  display: none;
}

label {
  padding: 20px 20px 20px 40px;
  color: #e0dedb;
  left: 12px;
  cursor: pointer;
  position: relative;
  z-index:4;
  top:-10px;
}

label::before,
label::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  /* transform: translateY(0%); */
  /* bottom: 0%;
}

label::before {
  background-color: none;
  border: 7px solid #e0dedb;
  height: 30px;
  width: 30px;
  right: 20px;
}

label::after {
  opacity: 0;
  height: 35px;
  width: 35px;
  left: 0px;
  bottom:0px;
  z-index: -2;
  animation-name: animation1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

input:checked+label::after {
  opacity: 1;
}

@keyframes animation1 {
   from {background-color:none;}
   to {background-color:#e8c022;}
}

#radio-front:checked~.space3d ._3dbox {}

#radio-left:checked~.space3d ._3dbox {
  transform: rotateY(90deg);
}

#radio-right:checked~.space3d ._3dbox {
  transform: rotateY(-90deg);
}

#radio-bottom:checked~.space3d ._3dbox {
  transform: rotateX(90deg);
}

#radio-top:checked~.space3d ._3dbox {
  transform: rotateX(-90deg);
}

#radio-back:checked~.space3d ._3dbox {
  transform: rotateY(180deg);
}

._3dface--front {
    background: url('images/bedge-grunge.png');
  background: #2f6cb5;

  background-size: 100%;
}

._3dface--left {
    background: url('images/bedge-grunge.png');
  background: #e1a3c2;
  background-size: auto 100%;
}

._3dface--right {
    background: url('images/bedge-grunge.png');
    background: #1d9069;
  background-size: auto 100%;
}

._3dface--top {
    background: url('images/bedge-grunge.png');
    background: #e56b41;
  background-size: auto 100%;
}

._3dface--bottom {
  background: url('images/bedge-grunge.png');
    background: #e9e6dd;
  background-size: auto 100%;
}

._3dface--back {
    background: url('images/bedge-grunge.png');
    background: #e9bc20;
  background-size: auto 100%;
} */
