body {
  background-color: #8d9cdf;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  width: 100%;
  /* display: flex; */
  margin: 0px;
}

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}

.statement {
  height: 50%;
}

.contact {
  position: fixed;
  bottom: 0;
  text-align: left;
  padding: 30px;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 40px;
  padding: 35px;
  position: absolute;
  bottom: 0;
  opacity: 0.7;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: left;
  padding: 30px;
  margin: 0px;
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: center;
  font-size: 32px;
  padding: 10px;
}

h5 {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: left;
  font-size: 28px;
  padding: 30px;
}

h6 {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  line-height: 130%;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: left;
  font-size: 70px;
  padding-top: 250px;
  padding-left: 250px;
  opacity: 0.7;
}

.medium {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: left;
  font-size: 40px;
  padding-left: 250px;
  opacity: 0.7;
}

.menu {
  list-style-type: none;
  margin: 10px;
  padding: 30px;
  overflow: hidden;
  background-color: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.menuitem {
  float: right;
}

.menuitem a {
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  opacity: 0.7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menuitem a:hover {
  text-shadow: 0px 3px 10px white;
  transition: 0.5s;
  color: transparent;
}

/* 背景のアニメーション */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: -5px;
}

svg {
  width: 100%;
  height: 100%;
}

/* imageslider */
* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  width: 60%;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -10%;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: -10%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  text-shadow: 0px 3px 10px white;
  transition: 0.5s;
  color: transparent;
}

/* Caption text */
.text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 80px;
  position: absolute;
  bottom: 45%;
  width: 100%;
  text-align: center;
}

.jump {
  color: #f2f2f2;
  font-size: 20px;
  position: absolute;
  bottom: -10%;
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  padding: 10px;
}

a:link {
  color: rgba(255, 255, 255, 0.7);
}

a:hover {
  text-shadow: 0px 3px 10px white;
  transition: 0.5s;
  color: transparent;
}

a:visited {
  color: white;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 3px;
  width: 30px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: transparent;
}

.dot:hover {
  background-color: #8d9cdf;
  transition: 0.5s;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.videoWork {
  width: 100%;
  height: 100%;
  position: relative;
  top: 30px;
text-align: center;
padding-top: 30px;
padding-bottom: 200px;
}

/* .sideWork {
  width: 60%;
  float: left;
  position: relative;
  padding-left: 300px;
  padding-top: 200px;
  padding-bottom: 300px;
} */

.worktext {
  width: 100%;
  float: left;
}

.description {
  position: relative;
  padding-left: 250px;
  color: white;
  line-height: 130%;
}

.preview {
  position: relative;
  display: block;
  padding: 50px;
}

.imageslider {
  width: 100%;
  text-align: center;
  height: 300px;

}

.work {
  width: 100%;
  height: 100%;
  position: relative;
  top: 30px;
text-align: center;
padding-top: 30px;
}

.arrow {
  color: white;
  text-align: right;
  padding-top: 30px;
  padding-right: 250px;
  padding-bottom: 0px;
  font-size: 50px;
  opacity: 0.5;
}
