@import url('https://fonts.googleapis.com/css2?family=Karla&family=PT+Sans+Narrow&display=swap');

/* Base_settings */
body {
  background-color: #8d9cdf;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  width: 100%;
  /* display: flex; */
  margin: 0px;
}

/* 背景のアニメーション */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: -5px;
}

svg {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 40px;
  padding: 35px;
  position: absolute;
  bottom: 0;
  opacity: 0.7;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: left;
  padding: 30px;
  margin: 0px;
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: center;
  font-size: 32px;
  padding: 10px;
}

h5 {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: left;
  font-size: 28px;
  padding: 30px;
}

h6 {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  line-height: 130%;
}

/* footer-setting */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}

.contact {
  position: fixed;
  bottom: 0;
  text-align: left;
  padding: 30px;
}

.menu {
  list-style-type: none;
  margin: 10px;
  padding: 30px;
  overflow: hidden;
  background-color: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.menuitem {
  float: right;
}

.menuitem a {
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  opacity: 0.8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menuitem a:hover {
  text-shadow: 0px 3px 10px white;
  transition: 0.5s;
  color: transparent;
}

/* work_settings */

.medium {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: left;
  font-size: 40px;
  padding-left: 250px;
  opacity: 0.7;
}
.statement {
  height: 50%;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: left;
  font-size: 70px;
  padding-top: 250px;
  padding-left: 250px;
  opacity: 0.7;
}


/* imageslider */
* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  width: 60%;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -10%;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: -10%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  text-shadow: 0px 3px 10px white;
  transition: 0.5s;
  color: transparent;
}

/* Caption text */
.text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 80px;
  position: absolute;
  bottom: 45%;
  width: 100%;
  text-align: center;
}

.jump {
  color: #f2f2f2;
  font-size: 20px;
  position: absolute;
  bottom: -10%;
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  padding: 10px;
}

a:link {
  color: rgba(255, 255, 255, 0.7);
}

a:hover {
  text-shadow: 0px 3px 10px white;
  transition: 0.5s;
  color: transparent;
}

a:visited {
  color: white;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 3px;
  width: 30px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: transparent;
}

.dot:hover {
  background-color: #8d9cdf;
  transition: 0.5s;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.videoWork {
  width: 100%;
  height: 100%;
  position: relative;
  top: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 200px;
}

/* .sideWork {
  width: 60%;
  float: left;
  position: relative;
  padding-left: 300px;
  padding-top: 200px;
  padding-bottom: 300px;
} */
.horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  /* width: 100%; */
  padding-top: 0px;
  padding-bottom: 200px;
  position: absolute;
  right: 250px;
  text-align: center;
  width: 70%;
}

.horizontal-list::-webkit-scrollbar {
  display: none;
}

.item {
  /* 横スクロール用 */
  display: inline-block;
  width: 40%;
  /* 見た目調整 */
  padding: 0px;
}

.worktext {
  width: 100%;
  float: left;
}

.description {
  position: relative;
  padding-left: 250px;
  color: white;
  line-height: 130%;
}

.preview {
  position: relative;
  display: block;
  padding: 50px;
}

.imageslider {
  width: 100%;
  text-align: center;
  height: 300px;
}

.work {
  width: 100%;
  height: 100%;
  position: relative;
  top: 30px;
  text-align: center;
  padding-top: 30px;
}

.arrow {
  color: white;
  text-align: right;
  padding-top: 30px;
  padding-right: 250px;
  padding-bottom: 0px;
  font-size: 50px;
  opacity: 0.5;
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

@media screen and (max-width:1024px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }

  h1 {
    font-size: 18px;
    text-align: center;
    padding: 20px;
  }

  h6 {
    font-size: 13px;
    font-family: 'Karla', sans-serif;
  }

  .statement {
    padding-bottom: 70px;
    margin: 5px;
  }

  .contact {
    display: none;
  }

  .menu {
    font-size: 13px;
    padding: 10px;
    opacity: 0.9;
    position: static;
  }

  .text {
    font-size: 25px;
    position: absolute;
    top: 120px;
  }

  .jump {
    font-size: 17px;
    position: absolute;
    top: 170px;
  }

  .photo {
    position: absolute;
    top: 200px;
  }

  .dot {
    height: 5px;
    width: 5px;
  }

  .worktext {
    width: auto;
  }

  .title {
    font-size: 30px;
  }

  .horizontal-list {
    display: block
  }

  .prev, .next {
    cursor: pointer;
    padding-top: 120px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    border-radius: 3px 0 0 3px;
  }

  .prev {
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    text-shadow: 0px 3px 10px white;
    transition: 0.5s;
    color: transparent;
  }

  .slideshow-container {
    width: 85%;
    position: relative;
    margin: auto;
    padding-top: 50px;
  }

  .horizontal-list {
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 200px;
    position: absolute;
    right: 250px;
    text-align: center;
    width: 70%;
  }

  .horizontal-list::-webkit-scrollbar {
    display: none;
  }

  .item {
    /* 横スクロール用 */
    display: inline-block;
    width: 40%;
    /* 見た目調整 */
    padding: 0px;
  }

  .head {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 8%;
  background-color: rgba(141, 156, 223, 100);
  color: white;
  text-align: center;
  z-index: 2;
}

  /* Dropdown Button */
  .dropbtn {
    background-color: transparent;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    opacity: 0.8;
    padding: 20px;
    font-size: 16px;
    border: none
  }

  .dropbtn a {
    border: none;
  }

  .dropbtn a:hover {
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    display: inline-block;
    border: none;
    position: absolute;
    right:0px;
    top: 3px;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    max-width: 130px;
    z-index: 1;
    border: none;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    text-align: right;
    padding: 13px 8px;
    text-decoration: none;
    display: block;
    background-color: rgba(141, 156, 223, 10);

  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: transparent;
    border: none;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    border: none;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    text-shadow: 0px 3px 10px white;
    transition: 0.5s;
    color: transparent;
    border: none;
  }
  img {
    position: relative;
    width: 95%;
    margin-top:10px;
  }

  h2 {
    color: white;
    padding:0px;
    margin-left: 12px;
    opacity: 0.8;
    position: static;
    text-align: center;
  }
  hr {
    height: 2px;
    background-color: white;
    border: none;
    opacity: 0.5;
  }
  .work_content {
    padding-top: 60px;
  }

  .statement {
    padding-top: 60px;
  }
}

  @media screen and (max-width:781px) {


  }
