/* font install ------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Karla&family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

@font-face {
  font-family: 'Senobi Gothic';
  src: url('Senobi-Gothic-Regular.eot');
  src: url('Senobi-Gothic-Regular.eot?#iefix') format('embedded-opentype'),
    url('Senobi-Gothic-Regular.woff2') format('woff2'),
    url('Senobi-Gothic-Regular.woff') format('woff'),
    url('Senobi-Gothic-Regular.ttf') format('truetype'),
    url('Senobi-Gothic-Regular.svg#Senobi-Gothic-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Senobi Gothic';
  src: url('Senobi-Gothic-Bold.eot');
  src: url('Senobi-Gothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('Senobi-Gothic-Bold.woff2') format('woff2'),
    url('Senobi-Gothic-Bold.woff') format('woff'),
    url('Senobi-Gothic-Bold.ttf') format('truetype'),
    url('Senobi-Gothic-Bold.svg#Senobi-Gothic-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Basic component --------------------------------------- */
html {
  height: 100%;
  background-color: #ffd4cc;
  overflow: hidden;
}

body {
  text-align: center;
  height: 100%;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

hr {
  width: 100%;
  border-width: 3px 0px 0px 0px;
  border-style: solid;
  border-color: #4a5882;
}

.work_sp hr {
  width: 90%;
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }
}

/* Text property -------------------------------------------- */
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 75px;
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-style: italic;
  width: 85%;
  background: -webkit-linear-gradient(314deg, #ffe7a3, #ffd4cc, #d0d4cc, #ffdaa5, #61b6cd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 0;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: #4a5882;
  font-size: 30px;
  text-align: left;
}

h3 {
  color: #4a5882;
  font-family: 'Cabin', sans-serif;
  text-align: left;
}

h4 {
  color: #4a5882;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
}

h5 {
  font-size: 17px;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

.work_sp h4 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size:18px;
}


.work_sp h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  color: #4a5882;
}

b {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 1000;
}

p {
  font-size: 15px;
  color: #4a5882;
  text-align: left;
  font-family: 'Cabin', sans-serif;
}

a {
  text-decoration: none;
  color: #4a5882;
}

a:hover {
  text-shadow: 0px 3px 10px white;
  transition: 0.5s;
  color: transparent;
}

.work_text span {
  color: #4a5882;
  font-size: 12px;
  padding: 2px;
  display: block;
  text-align: right;
  font-family: 'Josefin Sans', sans-serif;
}

/* Scroll bar ----------------------------------------- */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4a5882;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: none;
}

/* Loader component ------------------------------- */
.loader-wrap {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.loader,
.loader:before,
.loader:after {
  background: white;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: white;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 10px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* Gallery Image Slideshow  with thubnail ----------------------------- */
.container {
  position: relative;
  width: 40%;
  height: 70%;
  top: 40px;
  left: 50%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.work_images {
  position: absolute;
  width: 40%;
  top: 50px;
  left: 50%;
  position: relative;
  width: 40%;
  height: 70%;
  top: 50px;
  left: 50%;
}

.work_images img {
  width: 100%;
}

/* sum of work in pc layout -------------------------------*/
/* Caption text */
/* .text {
  color: #f2f2f2;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  margin: 7px;
  width: 100%;
} */
.work_text {
  position: absolute;
  top: 18%;
  left: 10%;
  width: 28%;
}

/* Top navigation component ------------------------------------------- */
/* Top navigation - Laptop Design - Left ------------------*/
.c-mark {
  overflow: hidden;
  color: #4a5882;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  writing-mode: vertical-lr;
  position: absolute;
  top: 260px;
  padding: 12px;
  z-index: 2;
}

/* ---------------------------------------------- */
.topnav {
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100px;
  writing-mode: vertical-lr;
  position: absolute;
  bottom: 50px;
  padding: 30px;
  z-index: 2;
}

.topnav a {
  float: left;
  color: #4a5882;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 12px;
}

.topnav a:hover {
  text-shadow: 0px 3px 10px white;
  transition: 0.5s;
  color: transparent;
}

.topnav a.active {
  border-left: 3px solid #4a5882;
  border-right: 3px solid #4a5882;
}

/* Top navigation - Laptop Design - Right ------------------*/
.topnav2 {
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100px;
  writing-mode: vertical-lr;
  position: absolute;
  right: 0px;
  top: 50px;
  height: 100%;
  padding: 30px;
  z-index: 2;
}

.topnav2 a {
  float: left;
  color: #4a5882;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 14px;
}

.topnav2 a:hover {
  text-shadow: 0px 3px 10px white;
  transition: 0.5s;
  color: transparent;
}

/* Top navigation - Smartphone Design - Left ------------------*/
.topnav3 {
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
  color: #4a5882;
  background-color:  #ffd4cc;
  position: absolute;
  top:0px;
  padding: 10px 0px;
  z-index: 2;
  width: 100%;
}

.topnav3 a {
  float: left;
  color: #4a5882;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 12px;
}

.topnav3 a:hover {
  text-shadow: 0px 3px 10px white;
  transition: 0.5s;
  color: transparent;
}

.topnav3 a.active {
  border-bottom: 3px solid #4a5882;
  border-top: 3px solid #4a5882;
}

/* Top navigation - Smartphone Design - Right ------------------*/
.topnav4 {
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100px;
  color: #4a5882;
  position: absolute;
  bottom: 10px;
  z-index: 2;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 5px;
}

.topnav4 a {
  float: left;
  color: white;
  padding: 0px 10px;
  text-decoration: none;
  font-size: 12px;
}

.topnav4 a:hover {
  text-shadow: 0px 3px 10px white;
  transition: 0.5s;
  color: transparent;
}

/* sum for work page in smartphone layout */
.work_sp {
  height: 100vh;
  overflow: scroll;
  padding: 30px 0px 50px 0px;
}

.sp_work {
  padding-top: 0%;
  padding-bottom: 7%;
  width: 90%;
  text-align: center;
}

.sp_work h5 {
  color: #4a5882;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
}

.sp_work hr {
  width: 90%;
}

/* in bio page ------------------------------------ */
.about_content {
  width: 90%;
  margin: auto;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: none;
  background-color: none;
  width: 80%;
  vertical-align: middle;
  position: absolute;
  top: 8%;
  left: 45%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
  color: #4a5882;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

/* Change background color of buttons on hover */
.tab button:hover {
  text-shadow: 0px 3px 10px white;
  transition: 0.5s;
  color: transparent;
}

/* Create an active/current tablink class */
.tab button.active {}

/* Style the tab content */
.tabcontent {
  display: none;
  /* padding: 20px 20px; */
  border-top: none;
  width: 65%;
  margin: 0 auto;
  background-color: none;
}

/* .content {
  width: 80%;
  margin: auto;
  text-align: left;
  padding-top: 30px;
  line-height: 1.5;
} */
/* in main page ---------------------------------------- */
.en {
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: linear-gradient(314deg, #ffe7a3, #ffd4cc, #d0d4cc, #ffdaa5, #61b6cd);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 9% 0%
  }

  50% {
    background-position: 92% 100%
  }

  100% {
    background-position: 9% 0%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 9% 0%
  }

  50% {
    background-position: 92% 100%
  }

  100% {
    background-position: 9% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 9% 0%
  }

  50% {
    background-position: 92% 100%
  }

  100% {
    background-position: 9% 0%
  }
}

/* in individual work page ---------------------------------- */
.inwork-link {
  color: #ffd4cc;
  background-color: #4a5882;
  padding: 6px;
  font-style: bold;
}

.work_description {
  position: absolute;
  top: 150px;
  left: 13%;
  width: 30%;
  height: 65%;
  overflow: scroll;
  padding: 20px;
}

.title h2 {
  text-align: center;
  color: #4a5882;
  font-size: 35px;
  padding-top: 40px;
  margin: 0px;
}

.title h3 {
  text-align: center;
  color: #4a5882;
  font-size: 15px;
}

/* smart phone layout - individual work page */
#work {
  padding:15px;
  overflow: scroll;
  height: 100vh;
}
.sp_title {
  text-align: center;
  padding: 70px 0px 0px 0px;
  margin: 0;
}

.sp_subtitle {
  text-align: center;
  padding: 0px 0px 0px 0px;
  font-size: 13px;
}

.sp_hr {
  width: 90%;
}

.sp_workdescription {
  font-size: 15px;
  width: 85%;
  padding: 20px 20px 80px 20px;
  margin: auto;
}

.sp_thumbnail {
  width:85%;
}

.sp_workimage {
  width:100%;
  margin:auto;
  padding: 15px 0px 15px 0px;
}

.sp_cmark {
  position: absolute;
  bottom: 0%;
  padding: 15px 0px;
  float:right;
  font-size: 12px;
  width:100%;
  font-family: 'Josefin Sans', sans-serif;
  z-index: 2;
}
